body{
  /* font-family: 'EB Garamond', serif; 
font-family: 'EB Garamond', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;*/
   font-family: 'Cormorant Garamond', serif;
   font-size: 18px;
   line-height: 1;
   color: #272727;
}

.flex-container{
   display: flex;
   flex-direction: row;
   justify-content:flex-start;
   background-color:rgb(246, 246, 246);
   max-width: 1200px;
   align-items:inherit;
   margin-top: 5px;
   margin-left: 5px;
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(83, 83, 83, 0.19);
}

.my-photo{
   width: 250px;
}

.left-side {
   position: relative;
   background-image: linear-gradient(rgb(199, 199, 199), #FFFFFF);
}

.right-side{
   position: relative;
   margin-left: 15px;
}

.right-side-title {
   color: #bebebe;
}

.select-ln{
   font-size: 18px;
   text-align: center;
   height: 22px;
   width: 20%;
   border-style: solid;
   border-radius:15px;
   border-color: #272727;
   background-color: white;
   color:#272727;
   transition-duration: 0.2s;
   cursor: pointer;
}

.select-ln:hover {
   outline-color:  #272727;
   opacity: 0.7;
   border-color:#272727 ;
   background-color: rgb(156, 156, 156);
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
 }

h1{
   font-weight: bolder;
   font-size: 26px;
}

h3{
   font-weight: bold;
   font-size: 22px;
   text-decoration: underline;
}

h4{
   font-size: 20px;
}

