body{
   font-size: 14px;
   line-height: 1.2;
   color: #333333;
}

i {
   font-size: 12px;
   color: #007bffc6;
}

.flex-container{
   display: flex;
   flex-direction: row;
   justify-content:flex-start;
   background-color:rgba(222, 235, 248, 0.236);
   max-width: 1800px;
   align-items:inherit;
   margin-left: 8px;
   box-shadow: 0 8px 16px 0 rgb(194, 222, 250),0 17px 50px 0 rgb(194, 222, 250); 
}

.foto{
   width: 220px;
   color: rgb(1, 1, 166);
}

.left-side {
   position: relative;
   background-image: linear-gradient(rgba(158, 186, 253, 0.46), #f6fafc)
}

.right-side{
   position: relative;
   margin-left: 8px;
}

.right-side-title {
   font-size: 16px;
   color:#1976d254;
}

.select-ln{
   font-size: 18px;
   text-align: center;
   height: 22px;
   width: 120px;
   border-style: solid;
   border-radius:15px;
   border-color: #272727;
   background-color: white;
   color:#272727;
   transition-duration: 0.2s;
   cursor: pointer;
}

.select-ln:hover {
   outline-color:  #272727;
   opacity: 0.7;
   border-color:#272727 ;
   background-color: rgba(50, 98, 203, 0.057);
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
 }


h1{
   font-weight: bolder;
   font-size: 34px;
   color:#1976D2;
}


h3{
   font-size: 18px;
   text-decoration: underline;
   color: #1976d2f1;
}


a{
   color:#026cddef;
}

.indent{
   text-indent: 20px;
   margin: 0;
}

.p{
    font-size: 16px;
    color: #606060;
}

.left-side {
   font-size: 16px;
   color: #606060;
}


